<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Blog</title>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<link rel="stylesheet" href="css/site.css" />
	<script type="text/javascript" src="jquery-legacy/dist/jquery.min.js"></script>
	<script type="text/javascript" src="js/site.js"></script>
</head>
<body>
	<header class="cf">
		<ul class="cf">
			<li><a class="btn btn-link" href="/home"><i class="icn icn-home icn-seprator"></i>Home</a></li>
			<li><a class="btn btn-link" href="/blog"><i class="icn icn-blog icn-seprator"></i>Blog</a></li>
		</ul>

		<ul class="cf">
			<li>
				<div search-control>
					<input type="text" placeholder="search"/>
					<div><i class="icn icn-search"></i></div>
				</div> <!-- end of search control -->
			</li>
		</ul>
	</header><!-- end of header section -->

	<section class="blog cf">
		<aside class="blog-list">
			<ul>
				<li><a href="">list item 1</a></li>
				<li><a href="">list item 2</a></li>
				<li><a href="">list item 3</a></li>
				<li><a href="">list item 4</a></li>
				<li><a href="">list item 5</a></li>
			</ul>
		</aside>
		<article class="blog-info">
			<h2>Title of the Articel</h2>
			<h3>Subtitle</h3>
			<p>time and other detials</p>
			<div class="blog-article">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore non perspiciatis esse. Incidunt saepe ducimus blanditiis amet dolorem provident dolor quas unde a quod est adipisci voluptatibus quam nesciunt, illo.
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore non perspiciatis esse. Incidunt saepe ducimus blanditiis amet dolorem provident dolor quas unde a quod est adipisci voluptatibus quam nesciunt, illo.
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore non perspiciatis esse. Incidunt saepe ducimus blanditiis amet dolorem provident dolor quas unde a quod est adipisci voluptatibus quam nesciunt, illo.
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore non perspiciatis esse. Incidunt saepe ducimus blanditiis amet dolorem provident dolor quas unde a quod est adipisci voluptatibus quam nesciunt, illo.
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore non perspiciatis esse. Incidunt saepe ducimus blanditiis amet dolorem provident dolor quas unde a quod est adipisci voluptatibus quam nesciunt, illo.
				</p>
			</div>
		</article>
	</section>
</body>
</html>