<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Blog</title>
	<link rel="stylesheet" href="css/site.css" />
	<script type="text/javascript" src="js/site.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
</head>
<body>
	<header class="cf">
		<ul class="cf">
			<li><a class="btn btn-link" href=""><i class="icn icn-home icn-seprator"></i>Home</a></li>
			<li><a class="btn btn-link" href=""><i class="icn icn-blog icn-seprator"></i>Blog</a></li>
		</ul>

		<ul class="cf">
			<li>
				<div search-control>
					<input type="text" placeholder="search"/>
					<div><i class="icn icn-search"></i></div>
				</div> <!-- end of search control -->
			</li>
		</ul>
	</header><!-- end of header section -->

	<section class="main">
		<section class="profile">
			<article class="picture">
				<div>
					
				</div>
			</article>
			<article class="bio">
				<h3>Santosh Varma Kosuri J</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum eum ad, neque impedit mollitia quia at laboriosam beatae voluptatibus consequuntur dicta alias omnis, ipsam ducimus vel id placeat delectus earum!
					</br></br>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam similique cumque, veritatis neque, aliquam nihil quas autem deleniti et ratione dignissimos. Inventore reiciendis delectus dolorem dignissimos, commodi alias ex esse?
				</p>
			</article>
			<article class="details">
				<ul class="cf">
					<li><a href="">Twitter</a></li>
					<li><a href="">Linkdin</a></li>
					<li><a href="">Profile</a></li>
				</ul>
			</article>
		</section><!-- profile section -->

		<section class="wall">
			<section class="comments">
				<div class="comments_type">
					<textarea rows="8">
						
					</textarea>
					<a class="btn btn-default" href=""><i class="icn icn-post icn-seprator"></i>Post</a>
				</div>
				<div class="comments_display_list">
					<div class="comments_display cf">
						<div></div>
						<div>
							<div class="user_details">
								<span>Name</span>
								<span>User</span>
								<span>Time</span>
							</div>
							<div class="user_comments">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque ut quasi esse deleniti tempora saepe voluptas qui fugiat non possimus, omnis debitis vitae quam praesentium sapiente pariatur ea mollitia magni.</p>
							</div>
						</div>
						<div>
							<div>
								<i class="icn icn-like icn-seprator"></i><i class="icn icn-unlike"></i>
								<p>1 Likes</p>
							</div>
						</div>
					</div>

					<div class="comments_display cf">
						<div></div>
						<div>
							<div class="user_details">
								<span>Name</span>
								<span>User</span>
								<span>Time</span>
							</div>
							<div class="user_comments">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque ut quasi esse deleniti tempora saepe voluptas qui fugiat non possimus, omnis debitis vitae quam praesentium sapiente pariatur ea mollitia magni.</p>
							</div>
						</div>
						<div>
							<div>
								<i class="icn icn-like icn-seprator"></i><i class="icn icn-unlike"></i>
								<p>1 Likes</p>
							</div>
						</div>
					</div>

					<div class="comments_display cf">
						<div></div>
						<div>
							<div class="user_details">
								<span>Name</span>
								<span>User</span>
								<span>Time</span>
							</div>
							<div class="user_comments">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque ut quasi esse deleniti tempora saepe voluptas qui fugiat non possimus, omnis debitis vitae quam praesentium sapiente pariatur ea mollitia magni.</p>
							</div>
						</div>
						<div>
							<div>
								<i class="icn icn-like icn-seprator"></i><i class="icn icn-unlike"></i>
								<p>1 Likes</p>
							</div>
						</div>
					</div>

					<div class="comments_display cf">
						<div></div>
						<div>
							<div class="user_details">
								<span>Name</span>
								<span>User</span>
								<span>Time</span>
							</div>
							<div class="user_comments">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque ut quasi esse deleniti tempora saepe voluptas qui fugiat non possimus, omnis debitis vitae quam praesentium sapiente pariatur ea mollitia magni.</p>
							</div>
						</div>
						<div>
							<div>
								<i class="icn icn-like icn-seprator"></i><i class="icn icn-unlike"></i>
								<p>1 Likes</p>
							</div>
						</div>
					</div>

					<div class="comments_display cf">
						<div></div>
						<div>
							<div class="user_details">
								<span>Name</span>
								<span>User</span>
								<span>Time</span>
							</div>
							<div class="user_comments">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque ut quasi esse deleniti tempora saepe voluptas qui fugiat non possimus, omnis debitis vitae quam praesentium sapiente pariatur ea mollitia magni.</p>
							</div>
						</div>
						<div>
							<div>
								<i class="icn icn-like icn-seprator"></i><i class="icn icn-unlike"></i>
								<p>1 Likes</p>
							</div>
						</div>
					</div>
				</div>
			</section>
		</section>
	</section><!-- main section -->
</body>
</html>